.header{
    text-align: right;
    padding: 20px
}

.content{
    width: 100%;
    margin: auto;
}

.logo{

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 60%;
  max-height: 230px;
  position: relative; ; 
 
     img{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width:30%;
                    
    }
}

.form-group{
    margin: auto;
    width: 35%;
    padding: 10px;
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 140px;
       
}
}

